%h1 Home#index

:javascript
  //app is global cuz. need to debug in console
  const app = new App();
  function main() {
    redom.mount(document.body, app);
  }

  window.addEventListener('load', function(){setTimeout(main,0)}, false)

