.dt.dt--fixed
  .dt-row
    .dtc.tc.pv4
      %h1
        - if current_user&.admin?
          = 'Live data'
        - else
          = 'Home'
  .dt-row
    .dtc#live-data

- if current_user&.admin?
  :javascript
    BreathMonit.initGraph();
