.fl.w-100
  .fl.w-100.tc.pv4#measure-title
    %h1 Measure
  .fl.w-100.cf.h2
    #video-container
  #user-graph-container.fl.w-100.cf.h2
    #graph
    .w-100
      %input{type: "range", id: "graph-period", name: "graph-period", min: "0", max: "100", step: "1", value: "0"}
    .w-100.pa2.tl
      Please select the smoothest place in your recording using the slider. Then press the "save" button.
    .w-100.tc
      %span#save-data-window.pointer.ba.bg-orange.white.pa1
        Save

:javascript
  //app is global cuz. need to debug in console
  const app = new App({
    savePath: '#{measurements_path}',
    recordMode: '#{current_user.profile.record_mode}',
    recordLength: 10,
    recordDataWindowLength: 5
  });
  function main() {
    redom.mount(document.getElementById('video-container'), app);
  }

  window.addEventListener('load', function(){setTimeout(main,0)}, false);

  BreathMonit.initSender({user_id: #{current_user.id}, presence_path: '#{presence_measurements_path}'});

