.dt.dt--fixed
  .dt-row#measure-title
    .dtc.tc.pv4
      %h1 Measure
  .dt-row.cf.h2
    .dtc#video-container
  .dt-row.tc
    %a#video-pause-button.f6.link.dim.br3.ph3.pv2.mb2.dib.white.bg-orange{href: "#0"} Pause video

:javascript
  //app is global cuz. need to debug in console
  const app = new App({savePath: '#{measurements_path}'});
  function main() {
    redom.mount(document.getElementById('video-container'), app);
  }

  window.addEventListener('load', function(){setTimeout(main,0)}, false);

  BreathMonit.initSender({user_id: #{current_user.id}, presence_path: '#{presence_measurements_path}'});

